<div class="container cf" style="min-height: 900px">
<h1 class="article-header">Admin view</h1>
    <div>
        <h3 class="admin-header">Theme Selection</h3>
            <div class="theme-button" ng-repeat="theme in themes">
                <button class="btn btn-default" ng-click="themeSelect(theme)">{{theme.label}}</button>
            </div>
        </div>
        <h3 class="admin-header">Edit Publication Order</h3>
            <ul class="article-list">
                <li ng-repeat="article in articles" class="article-list-item">
                    <input class="order-input text-left" type="number" max="5" ng-model="article.DisplayIndex"></input>

                    <span class="text-left article-name bodytext">- {{article.HeaderText}}</span>
                </li>
            </ul>
    </div>
</div>
